

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


::-webkit-scrollbar {
    padding-left: 15px;
    width: 5px;
    height: 10px;
  }
  

  ::-webkit-scrollbar-track {
    background: #EABD41; 
  }
   

  ::-webkit-scrollbar-thumb {
    background: #555;
    
  }
   
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(126, 114, 114);
  }